body {
	margin: 0;
	padding: 0;
}

.product-detail {
	margin-top:20px;
}

.product-detail .product-sidebar {
	
	padding: 0;
}

.product-detail .product-sidebar .login-wrapper {
	width: 100%;

}

.product-detail .product-sidebar .login-wrapper .title {
	width: 100%;
	text-align: center;
	float: left;
}

.product-detail .product-sidebar .login-wrapper .input-content {
	width: 100%;
	
	float: left;
	margin-bottom: 20px;
}

.product-detail .product-sidebar .login-wrapper .input-content input[type=text] {
	outline: none;
	border: 0;
	width: 100%;

	background: #484A41;
	padding: 7px;

	border-radius: 3px;
	color:white;
}

.product-detail .product-sidebar .login-wrapper .input-content input[type=password] { 
	outline: none;
	border: 0;
	width: 100%;

	background: #484A41;
	padding: 7px;

	border-radius: 3px;
	color:white;
}

.product-detail .product-sidebar .login-wrapper .input-content button {
	border:none;
	width: 100%;
	padding: 7px;
	border-radius: 3px;
}

.product-detail .product-sidebar .category-wrapper {
	width: 100%;
	
	float: left;
	
}

.product-detail .product-sidebar .category-wrapper .title {
	width: 100%;
	float: left;
	padding: 10px;
	margin: 0;
}

.product-detail .product-sidebar .category-wrapper ul {
	float: left;
	width: 100%;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.product-detail .product-sidebar .category-wrapper ul li {
	float: left;
	width: 100%;
}

.product-detail .product-sidebar .category-wrapper ul li a {
	float: left;
	width: 100%;
	padding: 10px 10px 10px 25px;	

}

.product-detail .product-sidebar .category-wrapper ul li a:hover {
	background: red;
}

.product-detail .product-wrapper .product-content {
	margin-bottom:20px;
}

.product-detail .product-wrapper .product-content .product-image {
	background: red;
	height: 100%;
	width: 100%;
}

.product-detail .product-wrapper .product-content:hover .product-info {
	display: block;
}

.product-detail .product-wrapper .product-content .product-info {
	display: none;
	width: calc(100% - 30px);
	padding: 10px;
	background:yellow;
	position: absolute;
	z-index: 2;
}



.product-detail .product-wrapper .product-pagination .pg-wrapper {
	list-style-type: none;
	padding: 0;
	width: 100%;
	margin-top:80px;


}

.product-detail .product-wrapper .product-pagination .pg-wrapper .pg-content {
	float: left;
	
	background: #468966;
	padding: 5px 15px;
	min-width: 30px;
	text-align: center;
	color: white;

	margin-left: 5px;
	margin-right: 5px;
	border-radius: 3px;

}